/*My styles*/

/*Header styling*/

header {
    overflow: hidden;
    background-color: #3b5998;
/*    border: 2px solid red;   */
    padding: 10px 30px 10px 30px;
    
}

.allNulled {
    padding: 0;
    margin: 0;
}

.navbar-header>a{
    font-style: italic;
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}


header>.leftAlign {
    float: right;
    margin-top: 8px;
    color: aliceblue;
    font-weight: bold;
}

header>.leftAlign div {
    margin-left: 20px;
}

header>.leftAlign input {
    color: black;
}

/*Header styling up to here*/

/* Style when not logged in*/
#mainPageBcgrndNotLoggedIn {
    background-image: url(../front_pic.jpg);
    background-size: cover;
/*    background-position: center top;*/
    text-align: center;
}

#mainPageBcgrndNotLoggedIn>ul>li{
    margin: 8% 5px 27% 5px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    list-style-type: none;
    display: inline-block;
}

#mainPageBcgrndNotLoggedIn>ul>li>a {
    display: inline-block;
    padding: 10px;
    width: 100px;
    background-color: #3b5998;
    color: aliceblue;
    font-weight: bold;
    
}

/* up to here Style when not logged in*/

/* Style when register*/

#mainPageBcgrndLoggedIn {
    background-image: url(../register_pick.jpg);
    background-size: cover;
/*    background-position: center top;*/
/*    border: 2px solid red;*/
    overflow: hidden;
}

#formToFloat {
    float: right;
    margin: 4% 5% 8% 5px;
}

#formToFloat label {
    width: 130px;
    text-align: right;
    margin-right: 10px;
}

#formToFloat div {
    margin-bottom: 10px;
}

.mainPageF {
    background-color: #3b5998;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.mainPageF p{
    text-align: center;
    color: #f7f7f7;
    margin: 0;
/*    font-family: ;*/
}
