<div id="faq-wrapper">
    <h1>PETBOOK F.A.Q</h1>
    <section>
        <header class="title-faq" data-id="1">
            Lorem ipsum dolor sit amet
        </header>
            <section>
                consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
            </section>
        <header class="title-faq" data-id="2">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </header>
            <section>
                Proin pharetra nonummy pede. Mauris et orci.
                Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
                Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
            </section>
    </section>
</div>