 <section id="main-page-bcgrnd-not-loggedin">
     <ul>
         <li><a href="/learnmore" class="btn-cstm-style" role="button">Learn more</a></li>
         <li><a href="/user/register" class="btn-cstm-style" role="button">Sign Up</a></li>
     </ul>
 </section>
 <section>
     <p></p>
 </section>