 <div id="mainPageBcgrndNotLoggedIn">
        <ul>
            <li><a href="#">Learn more</a></li>
            <li><a href="/user/register">Sign Up</a></li>
        </ul>
    </div>
    <div>
        <p></p>
    </div>
