<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/custom_k.css">
    <script rel="javascript" href="javascripts/jquery-1.10.2.js"></script>
    <script rel="javascript" href="javascripts/bootstrap.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
