<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/custom_k.css">
    <script rel="javascript" href="javascripts/jquery-1.10.2.js"></script>
    <script rel="javascript" href="javascripts/bootstrap.js"></script>
</head>
<body class="allNulled">
<header>
    <div class="">
        <div class="navbar-header">
            <a href="#" class="">Petbook</a>
        </div>
    </div>
    {{#unless this.user}}
    <div class="leftAlign">
        <form class="form-inline" method="POST" action="/user/login">
            <div class="form-group">
                <label for="">Email:</label>
                <input type="text" class="" id="" name="email" placeholder="" value={{email}} >
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="" id="" name="password" placeholder="">
            </div>
            <div class="form-group">
                <input type="submit" class="" id="" value="LogIn">
            </div>

        </form>
    </div>
    {{/unless}}

</header>
    <main>
{{{body}}}
    </main>
<footer class="mainPageF">
    <div>
        <p>&copy; 2016 - codeBusters</p>
    </div>
</footer>
</body>
</html>
