<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
    <script rel="javascript" href="javascript/jquery-1.10.2.js"></script>
    <script rel="javascript" href="javascript/bootstrap.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
