<div id="faq-wrapper">
    <h1>Petbook</h1>
    <h3>Petbook is a social network aimed specifically at animals!</h3>
    <section>
        <header class="title-faq" data-id="1">
           Why?
        </header>
        <section>
            Petbook is made with the idea of connecting animals. Are you and your pet feeling lonely at the park? Open up the site and look around, there might just be somebody near you!
        </section>

        <header class="title-faq" data-id="2">
            What animals are allowed?
        </header>
        <section>
            We are constantly broadening our support, but for the moment, the allowed animals are: <strong>{{joinCategoriesString categories}}</strong>.
        </section>

        <header class="title-faq" data-id="3">
            What are categories?
        </header>
        <section>
            Categories are your animal's type. A dog's category is a dog, a cat's category is a cat and etc.
            <br>
            Categories are used to split the community in such a way, where a dog will not be able to see a cat's posts.
        </section>

        <header class="title-faq" data-id="4">
            Does that mean that animals from all categories are completely split?
        </header>
        <section>
            No, we at Petbook understand that a dog can be friends with a cat. That is why whenever two users
            are <strong>friends</strong>, they can see each other's posts.
        </section>

        <header class="title-faq" data-id="5">
            Is there any other way around these category-exclusive posts?
        </header>
        <section>
            Yes, whenever a user is publishing something, he can choose to have his post be <strong>public</strong>.
            A public post is visible to every member of the social network, regardless of category or relationship to the poster.
        </section>
    </section>
</div>