<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/custom_k.css"/>
    <link rel="stylesheet" href="/stylesheets/custom_resp_k.css"/>
    <link rel="stylesheet" href='/stylesheets/font-awesome.css'/>
</head>
<body>
<header class="custom-header">
    <section class="">
        <div class="navbar-header">
            <a href="/" class="">Petbook</a>
        </div>
    </section>
</header>
<main>
  {{#if errorMessage}}
      <div class="error-custom-style">
          <span class="">{{errorMessage}}</span>
      </div>
  {{/if}}
    {{{body}}}
</main>
<footer id="cstm-stl-ftr">
    <div>
        <p>&copy; 2016 - codeBusters</p>
    </div>

    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</footer>
</body>
</html>
