<section id="add-post">
    <form method="post" action="">
        <textarea id="profile-post" rows="2" placeholder="How you doing?"></textarea>
        <article id="bottom-line-post">
            <input type="button" name="add-photo" id="add-photo-btn" value=" "/>
            <input type="submit" name="submit-post" class="button-with-plus post-btn" value="Post"/>
        </article>
    </form>
</section>