<section id="photo-gallery">
    <a href="#"><img src="./../images/dogi.jpg"/></a>
    <a href="#"><img src="./../images/dogi.jpg"/></a>
    <a href="#"><img src="./../images/dogi.jpg"/></a>
    <!--example: <img src="./../userPhoto/{{photoid}}.jpg"/>-->
</section>