<div id="profile-wrapper">
    <section id="profile-info">
        <section id="large-profile-picture"></section>
        <button id="add-favorites" class="button-with-plus add-favorites">Add to Favorites</button>
        <section>
            <ul>
                <li id="like">999</li>
                <li id="love">1K</li>
                <li id="dislike">2M</li>
            </ul>
        </section>
        <section id="user-info">
            profile info (age, city etc)
        </section>
    </section>
    <section id="profile-content">
        <header id="user-names">
            <p><a href="#">profile name</a></p>
            <p>owner name</p>
        </header>
        <nav id="user-nav">
            <ul>
                <li id="user-profile-nav">Profile</li>
                <li id="user-about-nav">About</li>
                <li id="user-photos-nav">Photos</li>
                <li id="user-groups-nav">Groups</li>
            </ul>
        </nav>
        <section id="add-post">
            <form method="post">
                <textarea id="profile-post" rows="2" placeholder="How you doing?"></textarea>
                <article id="bottom-line-post">
                    <input type="button" name="add-photo" id="add-photo-btn" value=" "/>
                    <input type="submit" name="submit-post" class="button-with-plus post-btn" value="Post"/>
                </article>
            </form>
        </section>
        <main>
            view post
        </main>
    </section>
</div>