<div id="mainPageBcgrndRegister">
    <div id="formToFloat">
        <form class="" action="/user/register" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                    <div class="">
                        <label class="">Email</label>
                        <input type="text" class="" id="", name="email", placeholder="Email"/>
                    </div>
                    <div class="">
                        <label class="">Name</label>
                        <input type="text" class="" id="", name="fullName", placeholder="Name"/>
                    </div>
                    <div class="">
                        <label class="">Password</label>
                        <input type="password" class="" id="", name="password", placeholder="Password"/>
                    </div>
                    <div class="">
                        <label class="">Confirm Password</label>
                        <input type="password" class="" id="", name="confirmedPassword", placeholder="Confirm Password"/>
                    </div>

                    <div class="">
                        <div class="">
                            <button type="submit" class="">Register</button>
                        </div>

                    </div>
            </fieldset>
        </form>
    </div>
</div>
<div>
    <p></p>
</div>
