<div id="mainPageBcgrndRegister">
    <div id="formToFloat">
        <form class="">
            <fieldset>
                <legend>Sign Up</legend>
                    <div class="">
                        <label class="">Email</label>
                        <input type="text" class="" id="", placeholder="Email"/>
                    </div>
                    <div class="">
                        <label class="">Name</label>
                        <input type="text" class="" id="", placeholder="Name"/>
                    </div>
                    <div class="">
                        <label class="">Password</label>
                        <input type="password" class="" id="", placeholder="Password"/>
                    </div>
                    <div class="">
                        <label class="">Confirm Password</label>
                        <input type="password" class="" id="", placeholder="Confirm Password"/>
                    </div>

                    <div class="">
                        <div class="">
                            <button type="submit" class="">Register</button>
                        </div>

                    </div>
            </fieldset>
        </form>
    </div>
</div>
<div>
    <p></p>
</div>
