<section id="main-page-bcgrnd-register">
    <article class="box-to-dim-behind form-to-float">
        <form class="" action="/user/register" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                    <div class="">
                        <label class="" for="email">Email</label>
                        <input type="text" class="cstm-input-area-style" id="email", name="email", value="{{email}}", placeholder="Email"/>
                    </div>
                    <div class="">
                        <label class="" for="email">Name</label>
                        <input type="text" class="cstm-input-area-style" id="fullName", name="fullName", value="{{fullName}}", placeholder="Name"/>
                    </div>
                    <div class="">
                        <label class="" for="password">Password</label>
                        <input type="password" class="cstm-input-area-style" id="password", name="password", placeholder="Password"/>
                    </div>
                    <div class="">
                        <label class="" for="confirmedPassword">Confirm Password</label>
                        <input type="password" class="cstm-input-area-style" id="confirmedPassword", name="confirmedPassword", placeholder="Confirm Password"/>
                    </div>

                    <div class="">
                        <div class="">
                            <button type="submit" class="btn-cstm-style rgstr-btn">Register</button>
                        </div>

                    </div>
            </fieldset>
        </form>
        <a href="" class="custom-link-style">Forgot your password?</a>
    </article>
</section>
<section>
    <p></p>
</section>
