<div id="mainPageBcgrndRegister">
    <div id="formToFloat">
        <form class="" action="/user/register" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                    <div class="">
                        <label class="" for="email">Email</label>
                        <input type="text" class="" id="email", name="email", value="{{email}}", placeholder="Email"/>
                    </div>
                    <div class="">
                        <label class="" for="email">Name</label>
                        <input type="text" class="" id="fullName", name="fullName", value="{{fullName}}", placeholder="Name"/>
                    </div>
                    <div class="">
                        <label class="" for="password">Password</label>
                        <input type="password" class="" id="password", name="password", placeholder="Password"/>
                    </div>
                    <div class="">
                        <label class="" for="confirmedPassword">Confirm Password</label>
                        <input type="password" class="" id="confirmedPassword", name="confirmedPassword", placeholder="Confirm Password"/>
                    </div>

                    <div class="">
                        <div class="">
                            <button type="submit" class="">Register</button>
                        </div>

                    </div>
            </fieldset>
        </form>
    </div>
</div>
<div>
    <p></p>
</div>
