/*My styles*/

/*Header styling*/

header {
    overflow: hidden;
    background-color: #3b5998;
    /*    border: 2px solid red;   */
    padding: 10px 30px 10px 30px;

}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-header>a{
    font-style: italic;
    color: aliceblue;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
}

.navbar-header>a:hover, .navbar-header>a:link, .navbar-header>a:visited, .navbar-header>a:active{
    text-decoration: none;
}


.left-align {
    /*    float: right;*/
    text-align:right;
    margin-top: 8px;
    color: aliceblue;
    font-weight: bold;
}


/*Header styling up to here*/

/* Style when not logged in*/
#main-page-bcgrnd-not-loggedin {
    background-image: url(../background-pics/front_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    text-align: center;
    padding-bottom: 20%;
    width: 100%;
    min-height: 550px;
}

#main-page-bcgrnd-not-loggedin>ul{
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    display: inline-block;
    padding-top: 150px;
}

#main-page-bcgrnd-not-loggedin>ul>li{
    float: left;
    text-align: center;
    margin-right: 20px;
}
#main-page-bcgrnd-not-loggedin>ul>li:last-of-type{
    margin-right: 0;
}



.btn-cstm-style {
    display: inline-block;
    border: 1px solid #3b5998;
    border-radius: 5px;
    padding: 12px;
    width: 140px;
    background-color: #3b5998;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.4s ease-in-out;
}

.btn-cstm-style:hover {
    background-color:#E8E8E8;
    color: #3b5998;
    /*transition: color 0.7s;*/
    /*transition: background-color 0.7s;*/
}

.sign-in-log-out{
    background-color: aliceblue;
    color: #3b5998;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.4s ease-in-out;
    /*transition-duration: 0.7s;*/
}

.sign-in-log-out:hover{
    background-color:#E8E8E8;
    color: #3b5998;
    /*transition: background-color 0.7s;*/
}

a:hover, a:link, a:visited, a:active{
    /*text-decoration: none;*/
    border: 0;
}

.custom-link-style {
    color: #3b5998;
}

.custom-link-style:hover{
    text-decoration: underline;
    color: #3b5998;

}


/* up to here Style when not logged in*/

/* Style when register*/

#main-page-bcgrnd-register {
    background-image: url(../background-pics/register_pick.jpg);
    background-size: cover;
    /*    background-position: center top;*/
    /*    border: 2px solid red;*/
    overflow: hidden;
}

.box-to-dim-behind{
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    /*
        padding: 10px;
        background-color: azure;
        opacity: 0.6;
        filter: alpha(opacity=60);
    */

}

.box-to-dim-behind > a {
    float: right;
    margin: 15px 0;
}


.form-to-float {
    float: right;
    margin: 1% 1.5% 1% 5px;

}

.form-to-float label {
    width: 130px;
    text-align: right;
    margin-right: 10px;

}

.form-to-float div {
    margin-bottom: 10px;

}

input {
    outline: none;
    border-color: #E8E8E8;
}

legend {
    font-size: 30px;
    font-weight: bold;
    color: #3b5998;
}



.cstm-input-area-style[type="text"], .cstm-input-area-style[type="password"] {
    border-radius: 5px;
    padding: 10px;
}

.cstm-input-area-style[type="text"]:focus, .cstm-input-area-style[type="password"]:focus {
    border-radius: 5px;
    border-color: #3b5998;

}

.rgstr-btn{
    width: 100px;
    /*    display: inline-block;*/
    float: right;
    border: 0;
}

#cstm-stl-ftr {
    background-color: #3b5998;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}
#cstm-stl-ftr p{
    text-align: center;
    color: #f7f7f7;
    margin: 0;
    /*    font-family: ;*/
}
