@media all and (max-width: 767px) {
    /*    create album section*/
    #upload-photos ul li .cntnr-crte-albm .container-fluid .float-left-cntr form {
        display: inline-block;
    }
    form.pic-form input[type="text"],
    form.pic-form textarea {
        width: 100%;
        max-width: inherit;
    }
    /*    upload image in album*/
    .photo-cntnr {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 60%;
        min-width: 190px;
        /*        margin-bottom: 20px;*/
    }
    /*    button*/
    .add-photo {
        height: 200px;
        padding-bottom: inherit;
        background-size: 200px 200px;
        background-position: center;
    }
}

@media all and (max-width: 540px) {

    /*light box*/

    #box{
        height:auto;
    }
    /*#box .box-image .selected .photo-cntnr {*/
        /*width:100%;*/
        /*height: 100%;*/
        /*margin-bottom: 0;*/
    /*}*/
    #box .box-image .selected .photo-cntnr .album-photo-content {
        display: block;
        margin: 0 auto;
        height: 255px;
        width: auto;
    }
    #box .box-image .selected .photo-cntnr .album-photo-content img {
        height: auto;
        max-height: 235px;
        width: auto;
        max-width: 100%;
    }
    /*#box .box-image .selected .photo-cntnr .description {*/
        /*height: 100px;*/
        /*overflow-y: scroll;*/
        /*padding: 0 20px;*/
    /*}*/
    #box .box-image .selected .photo-cntnr .preview-photo-thumbnail-footer {
        position: inherit;
    }



}