/*Our styles*/

body {
    padding: 0 !important;
    margin: 0 !important;
}

main {
    padding-bottom: 50px;
}

a:hover {
    border: 0;
    color: black;
}

a:link, a:visited, a:active {
    /*text-decoration: none;*/
    border: 0;

}

input {
    outline: none;
    border-color: #E8E8E8;
    /*    padding: 5px;*/
}

legend {
    font-size: 30px;
    font-weight: bold;
    color: #3b5998;
}

/*Header styling when not logged in*/

header {
    overflow: hidden;
    background-color: #3b5998;
    /*    border: 2px solid red;   */
    padding: 0px 30px 0px 30px;
}

.navbar-header > a {
    font-style: italic;
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

.navbar-header > a:hover, .navbar-header > a:link, .navbar-header > a:visited, .navbar-header > a:active {
    text-decoration: none;
}

.left-align {
    /*    float: right;*/
    text-align: right;
    margin-top: 11px;
    color: aliceblue;
    font-weight: bold;
}

.input-cstm-style {
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #3b5998;
    transition: border 0.1s ease-in-out;
}

.input-cstm-style:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.search-cstm {
    width: 280px;
    margin-right: 0;
    position: relative;
    left: 6px;
    top: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Header styling when logged in*/

.cstm-menu-header {
    list-style-type: none;
    overflow: hidden;
    text-align: right;

}

.cstm-menu-header > li {
    display: inline-block;
    /*    float: left;*/
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;

}

.cstm-menu-header > li:last-of-type {
    margin-right: 0;
}

nav > ul > li > a {
    color: aliceblue;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
}

nav > ul > li > a:hover {
    background-color: #224285;
    color: aliceblue;
    text-decoration: none;
}

nav > ul > li > a.custom-menu-icon {
    font-size: 20px;
    color: aliceblue;
}

/*Header styling up to here*/

/* Style of page content when not logged in*/
#main-page-bcgrnd-not-loggedin {
    background-image: url(../background-pics/front_pic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 85%;
    text-align: center;
    padding-bottom: 20%;
    width: 100%;
    min-height: 520px;
}

/* Buttons Learn more and Sign Up */
#main-page-bcgrnd-not-loggedin > ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    display: inline-block;
    padding-top: 100px;
}

#main-page-bcgrnd-not-loggedin > ul > li {
    float: left;
    text-align: center;
    margin-right: 20px;
    padding: 0px 5px 5px 0px;
}

#main-page-bcgrnd-not-loggedin > ul > li:last-of-type {
    margin-right: 0;
}

.btn-cstm-style {
    display: inline-block;
    border: 1px solid #3b5998;
    border-radius: 5px;
    padding: 12px;
    width: 140px;
    background-color: #3b5998;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.4s ease-in-out;
    box-shadow: 1px 1px 1px 1px #A9A9A9;
}

.btn-cstm-style:hover {
    background-color: #E8E8E8;
    color: #3b5998;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #A9A9A9;
    /*transition: color 0.7s;*/
    /*transition: background-color 0.7s;*/
    /*
    box-shadow: 0 0 1px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    */
}

.sign-in-log-out {
    padding: 7px;
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 5px;
    color: #3b5998;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.4s ease-in-out;
    /*    transition: border 0.2s ease;*/

    /*transition-duration: 0.7s;*/
}

.sign-in-log-out:hover {
    background-color: #E8E8E8;
    color: #3b5998;

    box-shadow: 0 0 1px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

/* Up to here Buttons Learn more and Sign Up */

/* up to here Style when not logged in*/

/* Style when register*/

.custom-link-style {
    color: #3b5998;
}

.custom-link-style:hover {
    text-decoration: underline;
    color: #3b5998;

}

#main-page-bcgrnd-register {
    background-image: url("../background-pics/register_pick.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.box-to-dim-behind {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    /*
    padding: 10px;
    background-color: azure;
    opacity: 0.6;
    filter: alpha(opacity=60);
    */

}

.box-to-dim-behind > a {
    float: right;
    margin: 15px 0;
}

.form-to-float {
    float: right;
    margin: 1% 30px 1% 5px;

}

.form-to-float label {
    width: 130px;
    text-align: right;
    margin-right: 10px;

}

.form-to-float div {
    margin-bottom: 10px;

}

.cstm-input-register-style[type="text"], .cstm-input-register-style[type="password"] {
    border-color: #3b5998;
    border-radius: 5px;
    padding: 7px;
    transition: border 0.3s ease-in-out !important;

}

.cstm-input-register-style[type="text"]:focus, .cstm-input-register-style[type="password"]:focus {
    /*    border-radius: 5px;*/
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);

}

.rgstr-btn {
    width: 100px;
    /*    display: inline-block;*/
    float: right;
    border: 0;
}

/* Up to here Style when register*/

/* Photos */

/* show / unshow album creation*/

#upload-photos h2.album-tabs {
    cursor: pointer;
    width: 200px;
    height: 55px;
    text-align: left;
    float: left;
    padding: 10px;
    margin-bottom: 0;
}

#upload-photos h2.album-tabs.active-title {
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(240, 248, 255, 0.7);
}

#upload-photos ul {
    list-style-type: none;
    clear: both;
}

#upload-photos ul li .cntnr-crte-albm {
    /*    display: none;*/
    /*    max-height: 0;*/
    /*    transition: max-height 0.25s ease-out;*/
    /*    overflow: hidden;*/
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

#upload-photos ul li.active-section .cntnr-crte-albm {
    min-height: 600px;
    height: auto;
    /*    display: block;*/
    overflow: hidden;
    /*
    transition: min-height 1.45s ease;
    opacity: 1;
    */
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* style album creation*/

.pic-up-container {
    text-align: justify;
    overflow: hidden;
    background-image: url("./../background-pics/dog-photographer.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 100%;
    /* background-attachment: fixed; */
    padding-bottom: 15px;
    width: 100%;
    min-height: 600px;
}

#upload-photos {
    /*    margin: 35px;*/
}

#upload-photos > ul {
    padding-left: 0;
    margin-top: 30px;
}

#upload-photos h1,
#upload-photos h2,
#upload-photos h3 {
    color: #3b5998;
    margin-left: 0;
    padding-right: 0;
}

.white-background {
    /*    display: inline-block;*/
    background-color: rgba(255, 255, 255, 0.8);
}

.cntnr-crte-albm > .container-fluid > .container {
    margin-top: 15px;
}

.cntnr-crte-albm > header {
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0);
}

.cntnr-crte-albm > header > * {
    float: left;
}

.cntnr-crte-albm button {
    float: right;
    margin-top: 20px;
    background-color: #3b5998;
    color: aliceblue;
    transition: background 0.2s ease-in-out;
}

.cntnr-crte-albm button:hover {
    background-color: #E8E8E8;
    color: #3b5998;
    box-shadow: 0 0 1px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.cntnr-crte-albm {
    overflow: hidden;
    color: #3b5998;
    font-style: italic;
    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: rgba(240, 248, 255, 0.7);
}

.cntnr-crte-albm input[type="radio"] {
    margin-right: 10px;
}

.float-left-cntr {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    /*    background-color: rgba(240,248,255, 0.5);*/
    /*    text-align: center;*/
}

.pic-form {
    overflow: hidden;
    text-align: left;
    padding: 25px;
    /*    background-color: rgba(233, 235, 238, 0.5);*/
    border-radius: 15px;
}

.form-inputs-style {
    background-color: rgba(233, 235, 238, 0.5);
    border-radius: 15px;
    padding: 15px;
}

.form-inputs-style label {
    width: 90%;
}

.form-inputs-style div {
    margin-bottom: 15px;
}

.form-inputs-style input[type="text"] {
    width: 90%;
}

.form-inputs-style textarea {
    resize: none;
    width: 90%;
}

.radio-questions label {
    font-size: 1em;
    display: inline;
}

#upload-photos h1 {
    font-size: 1.5em;
}

#upload-photos h2 {
    font-size: 1.2em;
}

#upload-photos h3 {
    font-size: 1em;
}

.cntr-cntr {
    overflow: hidden;
    border-radius: 15px;
    padding: 15px;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(233, 235, 238, 0.5)
}

article.add-photo-button {
    height: 322px;
}

article.add-photo-button label {
    height: inherit;
}

.photo-cntnr {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.photo-cntnr .album-photo-content {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    width: 400px;
}

.photo-cntnr .album-photo-content img {
    display: block;
    max-width: 90%;
    max-height: 200px;
    margin: 0 auto;
}

.photo-cntnr .album-photo-content img:hover {
    cursor: pointer;

}

/*
.photo-cntnr>section {
overflow: hidden;
height: 220px;
width: 220px;
text-align: center;
}
.photo-cntnr>.container>div {
overflow: hidden;
}
*/
.photo-cntnr .close {
    display: block;
    text-align: right;
    z-index: 1;
    color: #3b5998;
    float: none;
    padding: 0px 5px;
    margin-left: 90%;
}

.photo-cntnr textarea {
    width: 90%;
    resize: none;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
}

.photo-cntnr:hover {
    box-shadow: 0 0 1px rgba(81, 203, 238, 1);
    border: 1px solid rgba(59, 89, 152, 0.4);
}

.add-photo {
    background: #fff url("./../background-pics/add-photo.jpg");
    background-size: 100%;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.add-photo input[type="file"] {
    visibility: hidden;
}

.btn-publish {
    margin-top: 10px !important;
    margin: 0px 25px 20px 0px;
}

/*Style for Title Photos*/

/* show / unshow tabs in Photos*/

li.active-section #view-tabs-in-photos h2.photos-tabs {
    cursor: pointer;
    width: 200px;
    height: 55px;
    text-align: left;
    float: left;
    padding: 10px;
    margin-bottom: 0;
}

li.active-section #view-tabs-in-photos h2.photos-tabs.active-tab {
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(233, 235, 238, 0.5);
}

/*
#view-tabs-in-photos ul {
list-style-type: none;
clear: both;
}
*/

li.active-section #view-tabs-in-photos > ul > li .cntnr-photos {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

li.active-section #view-tabs-in-photos > ul > li.active-tab-section .cntnr-photos {
    min-height: 600px;
    height: auto;
    /*    display: block;*/
    overflow: hidden;
    /*
    transition: min-height 1.45s ease;
    opacity: 1;
    */
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.cntnr-photos {
    overflow: hidden;
    color: #3b5998;
    font-style: italic;
    /*
    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: rgba(233, 235, 238, 0.5);
    */
}

#container-photo-tabs {
    overflow: hidden;
    margin: 0px 10px;
}

#view-tabs-in-photos > ul {
    margin: 0px 10px 15px 10px;
    padding-left: 0px;
    padding: 15px;
    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: rgba(233, 235, 238, 0.5);
}

/*Styles for tab Photos*/

.preview-photo-thumbnail-header {
    visibility: hidden;
    height: 100%;
    opacity: 0;
    transition: visibility linear 0.5s, opacity 0.5s linear;
    background: linear-gradient(to bottom, rgba(59, 89, 152, 0.2), rgba(59, 89, 152, 0));
    padding: 5px 15px;

}

.photo-cntnr:hover .preview-photo-thumbnail-header {
    visibility: visible;
    height: 100%;
    background: linear-gradient(to bottom, rgba(59, 89, 152, 0.2), rgba(59, 89, 152, 0));

    opacity: 1;
    transition-delay: 0.1s;
}

.preview-photo-thumbnail-header > div {
    display: block;
    text-align: right;
}

.preview-photo-thumbnail-header a {
    display: inline-block;
    font-size: 22px;
    color: rgba(59, 89, 152, 0.9);
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.preview-photo-thumbnail-header a:hover {
    /*    font-size: 26px;*/
    color: #1b366f !important;
    transition-delay: 0.1s;

}

.preview-photo-thumbnail-header a:last-of-type {
    margin-right: 0;
}

.preview-photo-thumbnail-header a.edit-custom-button:before {
    display: block;
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px);
}

.preview-photo-thumbnail-header a.delete-custom-button:before {
    /*
    display: block;
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px);
    */
}

.preview-photo-thumbnail-footer {
    visibility: hidden;
    height: 100%;
    opacity: 0;
    transition: visibility linear 0.5s, opacity 0.5s linear;
    background: linear-gradient(to bottom, rgba(59, 89, 152, 0), rgba(59, 89, 152, 0.2));
    padding: 0;


}

.photo-cntnr:hover .preview-photo-thumbnail-footer {
    visibility: visible;
    height: 100%;
    background: linear-gradient(to bottom, rgba(59, 89, 152, 0), rgba(59, 89, 152, 0.2));

    opacity: 1;
    transition-delay: 0.1s;
}

.preview-photo-thumbnail-footer ul {
    padding: 0 5%;
    list-style-type: none;
    /*    text-align: center;*/
}

.preview-photo-thumbnail-footer form {
    display: inline-block;
    width: 30%
}

.preview-photo-thumbnail-footer form li {
    width: 100%;
    height: 37px;
    position: relative;
}

.preview-photo-thumbnail-footer ul form li input[type="submit"] {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin-right: 0 !important;
    border: none;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 25px 25px !important;
    /*
    margin-right: 5px!important;
    margin-left: 5px!important;
    */
    transition: all 0.2s ease-in-out;
}

.preview-photo-thumbnail-footer ul form li input[type="submit"]:hover {
    background-size: 33px 33px !important;
}

.preview-photo-thumbnail-footer ul form li label {
    position: absolute;
    top: 30%;
    font-size: 0.7em;
}

/*Style of view Albums*/
#display-all-albums, #display-photos-in-selected-album {
    overflow: hidden;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-btn-newsfeed {
    visibility: visible;
    opacity: 1;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.post-btn-newsfeed ul {
    width: 50%;
}


/*style for filtering album photos*/
.filter-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(240, 248, 255, 0.7);
    -webkit-animation: filterMask 1s ease-in-out both;
    animation: filterMask 1s ease-in-out both
}

@-webkit-keyframes filterMask {
    0% {
        background: transparent
    }
    50% {
        background: rgba(240, 248, 255, 0.7)
    }
    100% {
        background: transparent
    }
}

@keyframes filterMask {
    0% {
        background: transparent
    }
    50% {
        background: rgba(240, 248, 255, 0.7)
    }
    100% {
        background: transparent
    }
}

/*style for the newsfeed*/
.newsfeed-wrapper{
    margin-top: 1%!important;
}

.add-post{
    /*border-radius: 5px;*/
    border: 1px solid rgba(59, 89, 152, 0.4);
    box-shadow: 2px 2px 1px rgba(59, 89, 152, 0.3);
    background: rgba(233, 235, 238, 0.5)!important;
    padding: 20px!important;

}

.profile-post{
    resize: none;
    padding: 15px;
    /*border-radius: 5px;*/
    outline: none;
    margin-bottom: 2%;
    border: 1px solid rgba(59, 89, 152, 0.4)
}

.profile-post:focus{
    box-shadow: 0 0 10px rgba(59, 89, 152, 0.4);
    border: 1px solid rgba(59, 89, 152, 0.4);
}

.bottom-line-post{
    padding: 10px!important;
    /*border-radius: 5px;*/
    border: 1px solid rgba(240, 248, 255, 0.7);
}

.bottom-line-post>section{
    overflow: hidden;
}

.bottom-line-post>label{
    margin-bottom:0;
    width: 4%;
    position: relative;
}

.add-photo-post {
    background: url("./../images/add-photo-btn.png");
    background-size: 30px 30px;
    /*padding-bottom: 100%;*/
    /*height: 100%;*/
    background-repeat: no-repeat;
    cursor: pointer;

/*for camera button to move*/
    background-position: center;
    width: 35px;
    transition: all 0.2s ease-in-out;
}
.add-photo-post:hover {
    background-size: 35px 35px;
}

.add-photo-post input[type="file"] {
    visibility: hidden;
    padding: 15%;
}



#result-photos-in-post{
    padding-top: 0;
}
#result-photos-in-post section{
    margin-bottom:0;
}

#result-photos-in-post article{
    padding-top: 10px;
}

.bottom-bottom-line-post{
    margin-top: 2%;
    overflow: hidden;
}

.radio-btns-container{
    float: left;
    width: 70%;
}

.radio-btns-container div{
    font-style: italic;
    color: #3b5998;
}

.radio-btns-container input[type="radio"]{
    margin-right: 2%;
}

.bottom-bottom-line-post input[type="submit"]{
    margin-top: 2.1%;
    margin-bottom: 2px;
    border: none;
    border-radius: 2px;
    font-size:15px;
    width: 70px;
    margin-right: 3px;
    padding: 4px;
    box-shadow: 1px 1px 1px 1px #A9A9A9;
    display: none;
}


/*style for profile page*/

.profile-all-container{
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    width: 80%;


}

.profile-pic-container{
    display: inline-block!important;
    float: left!important;
    overflow: hidden!important;
}

.profile-content{
    display: inline-block!important;
    float: left!important;
    width: 60%!important;
    padding: 0!important;
    bottom: 0!important;
}

.add-profile-photo-area>span{
    font-style: italic;
    color: #3b5998;
}

.add-profile-photo-button{
    width: 12%!important;
}

.pic-container-article-in-post>section{
    margin-bottom: 0;
}

.user-names{
    margin-left: 0!important;
}

.user-names>p{
    margin: 0!important;
    padding: 3px 0 10px 10px!important;
}

.user-nav{
    padding: 5px 30px!important;
    margin: 0!important;

}

.user-nav>ul{
    margin-bottom: 0!important;
}

.user-nav>ul>li{
    border-radius: 5px;
    margin-right: 1%;
}

.user-nav>ul>li>a{
    color: #3b5998;
}

.large-profile-picture{
    margin: 0 auto;

}

.large-profile-picture>img{
    width: 100%
}

.profile-btns-total{
    margin: 0 auto;
    width: 85%;
}

.profile-btns-total>ul{
    margin-top: 10px!important;
    margin-bottom: 0px!important;
    line-height: 0px!important;
}

.profile-btns-total>ul>li{
    background-size: cover!important;
    margin-left: 13%!important;
}
.profile-btns-total>ul>li:first-of-type{
    margin-left: 0!important;
}

.user-info{
    bottom:0!important;
}

/*post view style*/
.profile-image-container{
    width: 45px!important;
    height: 45px!important;
}

.profile-image-container img{
    width: 100%;
}
.name-date-container{
    line-height: inherit!important;
}
.name-date-container>a{
    display: inline-block;
}

.name-date-container>span{
    display: block;
}

.post-view{
    padding:20px!important;
}

.post-view>header{
    padding: 10px;
}

.post-view>header>section{
    padding:10px;
}

/*Footer styling*/

#cstm-stl-ftr {
    background-color: #3b5998;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

#cstm-stl-ftr p {
    text-align: center;
    color: #f7f7f7;
    margin: 0;
    /*    font-family: ;*/
}
