@media all and (max-width: 767px) {
    /*    create album section*/
    #upload-photos ul li .cntnr-crte-albm .container-fluid .float-left-cntr form {
        display: inline-block;
    }
    form.pic-form input[type="text"],
    form.pic-form textarea {
        width: 100%;
        max-width: inherit;
    }
    /*    upload image in album*/
    .photo-cntnr {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 60%;
        min-width: 190px;
        /*        margin-bottom: 20px;*/
    }
    /*    button*/
    .add-photo {
        height: 200px;
        padding-bottom: inherit;
        background-size: 200px 200px;
        background-position: center;
    }
}