#profile-wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    justify-content: center;
}

#newsfeed-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 960px;
    justify-content: center;
}

#profile-info{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    /*width: 350px;*/
    /*max-width: 350px;*/
    padding: 10px;
    background: #f4f4f4;
}

#profile-content{
    flex: 2;
    /*width: 100%;*/
    max-width: 100%;
    padding: 10px 0 0 10px;
}

#large-profile-picture{
    width: 250px;
    height: 250px;
    max-width: 250px;
    /*border: 2px solid #233a69;*/
    padding: 5px;
    /*background: url("./../images/no-profile-photo.jpg");*/
}

.button-with-plus{
    background: #f4f4f4;
    border: 1px solid #7c7c7c;
    color: #7c7c7c;
}

.button-with-plus:hover{
    background: #e2e2e2;
}

.button-with-plus:before{
    content: "+";
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 5px;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff;
}

.add-friend{
    margin: 10px;
    background: #bdff5f;
}

.add-friend:hover{
    margin: 10px;
    background: #afeb5a;
}

.remove-friend{
    margin: 10px;
    background: #ff3a3a;
}

.remove-friend:hover{
    margin: 10px;
    background: #ff5b5b;
}

#profile-info>section>ul{
    list-style: none;
    padding-left: 0;
    line-height: 100px;
    text-align: center;
}

section>ul>#like{
    background: url("./../images/paw-like.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
#paw{
    background: url("./../images/paw-like.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
section>ul>#remove-like{
    background: url("./../images/remove-paw.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
#remove-paw{
    background: url("./../images/remove-paw.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
section>ul>#love{
    background: url("./../images/love.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
#love{
    background: url("./../images/love.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
section>ul>#remove-love{
    background: url("./../images/remove-love.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}
#remove-love{
    background: url("./../images/remove-love.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin-right: 10px;
}

section>ul>#dislike{
    background: url("./../images/dislike.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
}
#dislike{
    background: url("./../images/dislike.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
}
section>ul>#remove-dislike{
    background: url("./../images/remove-dislike.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
}
#remove-dislike{
    background: url("./../images/remove-dislike.png");
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
}
#user-info{
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #7c7c7c;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    bottom: 50px;
    float: left;
}

#user-names{
    background: #f4f4f4;
    margin-left: -10px;
}

#user-names>p:first-child{
    font-size: 1.6em;
    padding: 0 0 0 10px;
}

#user-names>p{
    margin-top: -10px;
    padding: 0 0 0 10px;
    color: #bababa;
}

#user-names>p:last-child:before{
    content: '(';
}

#user-names>p:last-child:after{
    content: ')';
}

#user-nav{
    background: #fafafa;
    margin: -10px 0 0 -10px;
}

#user-nav>ul{
    list-style: none;
    padding: 0;
}

#user-nav>ul>li{
    display: inline-block;
    /*padding: 5px;*/
    /*border: 1px solid #bababa;*/
}

#user-nav>ul>li:hover{
    /*background: #f4f4f4;*/
    cursor: pointer;
}

#add-post{
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    background: #f4f4f4;
}

#profile-post {
    display: block;
    width: 100%;
}

#add-post>form{
    width: 100%;
}

.post-btn{
    float: right;
}

.post-btn::before{
    content: "sdas";
}

#bottom-line-post{
    padding: 5px;
    background: #fafafa;
}

#add-photo-btn{
    background: url("./../images/add-photo-btn.png");
    width: 29px;
    border: none;
}

#add-photo-btn:hover{
    opacity: 0.9;
}

#post-view{
    background: #f4f4f4;
    margin-top: 10px;
    padding: 5px;
}

#post-view>header{
    background: #fafafa;
    padding: 5px;
}

#post-view>header>section{
    display: flex;
}

#post-view>header>section>article{
    background: url("./../images/no-profile-photo-small.jpg");
    width: 30px;
    height: 30px;
}

#post-view>header>section>section>article{
    padding-left: 10px;
}

#post-view>header>section>section>article:first-child{
    font-weight: bold;
}

#post-view>header>section>section>article:last-child{
    color: #bababa;
    font-size: 0.8em;
    line-height: 5px;
}

#post-content{
    padding: 10px;
}

#comments-form{
    background: #fafafa;
    padding: 5px;
}

#comments-form>section{
    display: flex;
}

#comments-form>section>article{
    /*background: url("./../images/no-profile-photo-small.jpg");*/
    width: 30px;
    height: 30px;
}

#comments-form>section>section>article{
    padding-left: 10px;
}

#comments-form>section>section>article:first-child{
    font-weight: bold;
}

#comments-form>section>section>article:last-child{
    color: #bababa;
    font-size: 0.8em;
    line-height: 5px;
}

#add-comment{
    width: 100%;
    max-width: 100%;
    padding: 5px;
    /*background: #f4f4f4;*/
}

#profile-comment {
    display: inline-block;
    /*width: 96%;*/
}


#comment-btn{
    /*position: relative;*/
    /*top: 3px;*/
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background: url("./../images/small-icon.png") 0 25px;
}

#comment-btn:hover{
    opacity: 0.8;
}

#post-view>footer{
    background: #fafafa;
}

#post-view>footer>ul{
    list-style: none;
    padding: 0;
}

#post-view>footer>ul>li{
    display: inline-block;
    padding: 5px;
}

#like-btn:before{
    background: url("./../images/small-icon.png") 0 100px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

#love-btn:before{
    background: url("./../images/small-icon.png") 0 125px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

#dislike-btn:before{
    background: url("./../images/small-icon.png") 0 150px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}
#remove-like-btn:before{
    background: url("./../images/grey-small-icon.png") 0 100px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

#remove-love-btn:before{
    background: url("./../images/grey-small-icon.png") 0 125px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

#remove-dislike-btn:before{
    background: url("./../images/grey-small-icon.png") 0 150px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

#post-view{
    background: #f4f4f4;
    margin-top: 10px;
    padding: 5px;
}

#comment-view{
    background: #fafafa;
    padding: 5px;
}

#comment-view>section{
    display: flex;
}

#comment-view>section>article:first-child{
    background: url("./../images/no-profile-photo-small.jpg");
    width: 30px;
    height: 30px;
}

#comment-view>section>section>article{
    padding-left: 10px;
}

#comment-view>section>section>article:first-child{
    font-weight: bold;
}

#comment-view>section>section>article:last-child{
    color: #bababa;
    font-size: 0.8em;
    line-height: 5px;
}

#comment-value{
    margin: 10px;
}

#photo-gallery>a>img{
    max-width: 200px;
    border: 1px solid #233a69;
}

.error-label {
    width: 500px;
    height: 850;
    border: 1px solid #000;
    font-size: 2em;
    padding: 5px;
}
#error-label:hover {
    color: deeppink;
}

#faq-wrapper{
    width: 960px;
    max-width: 100%;
    background: #f4f4f4;
    margin: 10px auto;
    padding: 10px;
}

.title-faq{
    font-size: 1.6em;
    padding: 10px;
    background: none;
    border: 2px dotted #a5a5a5;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

#faq-wrapper>section>section{
    display: none;
    margin-left: 30px;
    border: 2px dotted #a5a5a5;
    padding: 10px;
}